@media screen and (min-width: 1250px)  {
    .navitems {
    margin-left: 10%;  
    }
}
@media screen and (max-width: 1080px)  {
    .navitems {
        font-size: 14px;
    }
}
body {
    margin-top:70px;
}
.headr-parallax-effect {
    position: relative;
    background-attachment: fixed;
    background-position: top center;
        
}
.navtag {
    padding-left: 20% 
}
footer {
    background: rgba(238, 235, 235, 0.952);
    color: black;
    padding-top: 2%; 
    margin-bottom: 0px;
}

.ftitle {
    text-decoration: underline;
    font-size: 20px;
}
.ftext {
    font-size: 17.5px;
}
