<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
   
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'main_page/css/styles.css' %}" type="text/css">
    {% block otherstyle %} {% endblock otherstyle %}

    
    <title> {% block title %} Pattern {% endblock title %}</title>

    {% block links %}
    
    {% endblock links %}
    

</head>
<body>
    
    <nav class="navtag navbar navbar-expand-lg navbar-inverse navbar-light bg-light text-uppercase fixed-top">
           
        <a class="navbar-brand" href="#">Casper Tabaco</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" >
               <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navitems">    
            <ul class="navbar-nav navbar-right" >
                <li >
                    <a class="nav-link" href="http://127.0.0.1:8000">Главная страница</a>
                </li>
                <li>
                    <a class="nav-link" href="/shop" aria-disabled="true">Магазин</a>
                </li>
                <li >
                    <a class="nav-link" href="/blog" aria-disabled="true">Блог</a>
                </li>
                
                <li>
                    <a class="nav-link" href="#" aria-disabled="true">Оплата и доставка</a>
                </li>
                
                <li >
                    <a class="nav-link" href="#"  aria-disabled="true">Контакти</a>
                </li>
                <li >
                        <a class="nav-link" href="#"  aria-disabled="true">Корзина</a>
                </li>
                
            </ul>
           
        </div>  
    </nav>


    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>


    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-3 ">
                        <p class="ftitle"><b>Контакты:</b></p>
                        <div class="col-md-12 ftext">
                            <p><b>Интернет-магазин Casper</b></p>
                            <p><b>Тел:</b> +38(050) 395-07-78</p>
                            <p><b>E-mail:</b> oserbetly@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="ftitle"><b>График работы:</b></p>
                        <div class="col-md-12 ftext">
                                <p><b>Адрес:</b> Пр. Корольова 14</p>
                                <p><b>Часы работы</b></p>
                                <p>Понедельник—пятница:</p>
                                <p>10:00–20:00 Без выходных </p>
                            </div>
                    </div>
                </div>
                <br>
                <div class="col-md-6 offset-md-4">
                    <p class="">Интернет-магазин торговли табаком для кальянов "Casper"</p>
                    
                </div>
            </div>
        </div>
    </footer>
</body>
</html>