{% extends 'main_page/pattern.html' %}
{% block title %}Оплата и доставка | Контакты{% endblock title %}
{% block content %}



<div class="container-fluid">
    <h1 class="text-uppercase text-center">Оплата и доставка</h1>
    <hr />
    <div class="row justify-content-center">
        <div class=" card col-md-7">
            <p class="card-title">Способы доставки</p>
             <div class="card-body row">
                <div class="col-md-4">
                    <p>В отделение службы доставки</p>
                    <p>Наши курьеры бережно и в срок доставят купленный товар</p>
                    <p>от 40-60 грн</p>
                </div>
                <div class="col-md-4">
                    <p>В назначаном продавцом месте</p>
                    <p>Несколько точек по Киеву где вы можете встретиться и забрать свой товар</p>
                    <p>Бесплатно</p>
                </div>
                <div class="col-md-4">
                <p>Курьерская доставка</p>
                <p>Наши курьеры бережно и в срок доставят купленный товар</p>
                <p>30 грн</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class=" card col-md-7">
            <p class="card-title">Полезная информация</p>
             <div class="card-body row">
              
            </div>
        </div>
    </div>
  
</div>



<div class="container-fluid" name="contacts">
    <h1 class="text-uppercase text-center">Контакты</h1>
    <hr />
    <div class="row justify-content-center">
        <div class=" card col-md-7">
            <p class="card-title">Позвонить:</p>
             <div class="card-body row">
                <div class="col-md-4">
                    <p>+38(099)-925-90-52</p>
                    <p>Оформление заказов</p>
                </div>
                <div class="col-md-4">
                    <p>+38(050)-582-81-24</p>
                    <p>Поддержка клиентов</p>
                </div>
                <div class="col-md-4">
                <p>График работы колл-центра:</p>
                <p>с 10:00 до 22:00 </p>
                <p>в субботу с 10:00 до 21:00</p> 
                <p>в воскресенье с 11:00 до 20:00</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class=" card col-md-7">
            <p class="card-title">Напишите нам:</p>
             <div class="card-body row">
                <div class="col-md-4">
                    <p>@carryon07</p>
                    <p>Telegram</p>
                </div>
                <div class="col-md-4">
                    <p>@overchik</p>
                    <p>instagram</p>
                </div>
                <div class="col-md-4">
                    <p>caspertabecco@i.ua</p>
                    <p>e-mail</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class=" card col-md-7">
            <p class="card-title">Обратный звонок</p>
             
        </div>
    </div>
</div>



{% endblock content %}